@charset "uft-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.wrapper {
    width: 960px;
    display: flex;
    flex-flow: row; /*flex-direction과 flext-wrap을 한번에*/
}

.header {
    width: 960px;
    height: 120px;
    background-color: #066cfa;
    border-bottom: 1px solid #000;
}
.main {
    width: 600px;
    height: 400px;
    background-color: #ffd800;
    padding: 15px;
}

.aside {
    width: 300px;
    height: 400px;
    background-color: #00ff90;
    padding: 15px;
}

.footer {
    width: 960px;
    height: 120px;
    background-color: #c3590a;
}

@media all and (min-width:1025px) {
    .aside{
        flex: 1;
    }
}

@media all and (max-width: 1024px) {
    .main {
        width: 50%;
    }
    .aside {
        width: 50%;
    }
}

@media all and (max-width: 767px) {
    .wrapper{
        flex-flow: column wrap;
        height: 600px;
    }
    .main{
        width: 100%;
        height: 400px;
    }
    .aside{
        width: 100%;
        height: 200px;
    }
}